 .footer {
     background-color: var(--secondary-color);

     .accordion__container {
         .accordion__item {
             .heading__title {
                 font-size: 1rem;
                 font-weight: 600;
                 color: var(--main-color);
             }

             .accordion__header {
                 button {
                     color: #fff;
                     border-radius: 0;
                     box-shadow: 8px 7px 4px 0px #00000033;
                     border-radius: 5px 5px 0 0;
                     background-color: var(--main-color);

                     &:hover {
                         background-color: var(--text-color);
                         box-shadow: none;

                     }

                     &::after {
                         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
                     }
                 }

             }

             .accordion__body {
                 p {
                     font-size: .85rem;
                     line-height: 1.6;
                     letter-spacing: 1px;
                     color: #222;
                 }

                 a {
                     transition: .5s ease-out;
                     font-size: .85rem;
                     max-width: max-content;

                     &:hover {
                         color: var(--text-color)
                     }
                 }


                 @media screen and (max-width:575px) {
                     background-color: var(--main-color);
                     box-shadow: inset 0 3px 7px rgba(#000, 0.2) !important;
                     border-radius: 0 0 5px 5px;

                     a,
                     p {
                         color: #fff !important;
                     }
                 }
             }
         }
     }
 }