.slider {
    position: relative;

    img {
        max-height: 100vh;
        filter: brightness(.8);
        width: 200%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px;
        height: 40px;
        background-color: var(--main-color);
        border-radius: 40px;
        color: var(--secondary-color);
        transition: .4s ease-in-out;

        &::after {
            font-size: .9rem;
        }

        &:hover {
            color: var(--main-color);
            background-color: var(--text-color);
        }
    }

    @media screen and (min-width:768px) {
        .swiper-button-prev {
            left: -100px;
        }

        .swiper-button-next {
            right: -100px;
        }

        &:hover {
            .swiper-button-prev {
                left: 70px;
            }

            .swiper-button-next {
                right: 70px;
            }
        }
    }

    .slider__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 450px;
        margin: 0 auto;

        .slider__inner {
            background-color: rgba(#fff, .7);
            padding: 15px;
            border-radius: 8px;

            h2 {
                font-size: 2rem;
                color: var(--main-color);
                text-transform: capitalize;
            }
        }

    }
}